* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: 0;
	text-decoration: none;
	list-style: none;

	& a:hover {
		text-decoration: none;
	}
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	overflow-x: hidden;
	@media only screen and(max-width: $laptop-land) {
		font-size: 57%;
	}
	@media only screen and(max-width: $laptop-port) {
		font-size: 50%;
	}

	@media only screen and (min-width: 1202px) and (max-width: 1500px){
		font-size: 47%;
	}
}

body {
	font-family: $font-primary;
	font-size: 1.6rem;
	color: $color-text;
	line-height: 1.6;
	overflow-x: hidden;

	@media only screen and (max-width: $tab-land){
		br{
			display: none !important;
		}
	}
}

.container {
	width: 95%;
	max-width: 1400px;
	@media only screen and (min-width: 1202px) and (max-width: 1500px){
		width: 90%;
	}
}

::selection {
	background: $color-heading;
	color: #fff;
}

// ================================
p,
ul {
	margin: 0;
}
