.white {
  color: #fff; }

.laptop-land-show {
  display: none !important; }
  @media only screen and (max-width: 75em) {
    .laptop-land-show {
      display: block !important; } }

@media only screen and (max-width: 75em) {
  .laptop-land-hide {
    display: none; } }

.laptop-port-show {
  display: none; }
  @media only screen and (max-width: 64em) {
    .laptop-port-show {
      display: block; } }

@media only screen and (max-width: 64em) {
  .laptop-port-hide {
    display: none; } }

.tablet-land-show {
  display: none !important; }
  @media only screen and (max-width: 62em) {
    .tablet-land-show {
      display: block !important; } }

@media only screen and (max-width: 62em) {
  .tablet-land-hide {
    display: none !important; } }

.tablet-port-show {
  display: none; }
  @media only screen and (max-width: 48em) {
    .tablet-port-show {
      display: block; } }

@media only screen and (max-width: 48em) {
  .tablet-port-hide {
    display: none; } }

@media only screen and (max-width: 35.9375em) {
  .mbl-land-hide {
    display: none; } }

.mbl-land-show {
  display: none; }
  @media only screen and (max-width: 35.9375em) {
    .mbl-land-show {
      display: block; } }

.hide {
  opacity: 0;
  visibility: hidden; }

.m--1 {
  margin: 0.5rem !important; }

.m-1 {
  margin: 1rem !important; }

.m-2 {
  margin: 2rem !important; }

.m-3 {
  margin: 3rem !important; }

.m-3 {
  margin: 3rem !important; }

.m-4 {
  margin: 4rem !important; }

.m-5 {
  margin: 5rem !important; }

.mt-1 {
  margin-top: 1rem !important; }

.mt-2 {
  margin-top: 2rem !important; }

.mt-3 {
  margin-top: 3rem !important; }

.mt-4 {
  margin-top: 4rem !important; }

.mt-5 {
  margin-top: 5rem !important; }

.mt-6 {
  margin-top: 6rem !important; }

.mt-7 {
  margin-top: 7rem !important; }

.mt-8 {
  margin-top: 8rem !important; }

.mt-9 {
  margin-top: 9rem !important; }

.mt-10 {
  margin-top: 10rem !important; }

.mb-1 {
  margin-bottom: 1rem !important; }

.mb-2 {
  margin-bottom: 2rem !important; }

.mb-3 {
  margin-bottom: 3rem !important; }

.mb-4 {
  margin-bottom: 4rem !important; }

.mb-5 {
  margin-bottom: 5rem !important; }

.mb-6 {
  margin-bottom: 6rem !important; }

.mb-7 {
  margin-bottom: 7rem !important; }

.mb-8 {
  margin-bottom: 8rem !important; }

.mb-9 {
  margin-bottom: 9rem !important; }

.mb-10 {
  margin-bottom: 10rem !important; }

.p-1 {
  padding: 1rem !important; }

.p-2 {
  padding: 2rem !important; }

.p-3 {
  padding: 3rem !important; }

.p-4 {
  padding: 4rem !important; }

.p-5 {
  padding: 5rem !important; }

.pt-1 {
  padding-top: 1rem !important; }

.pt-2 {
  padding-top: 2rem !important; }

.pt-3 {
  padding-top: 3rem !important; }

.pt-4 {
  padding-top: 4rem !important; }

.pt-5 {
  padding-top: 5rem !important; }

.pt-6 {
  padding-top: 6rem !important; }

.pt-7 {
  padding-top: 7rem !important; }

.pt-8 {
  padding-top: 8rem !important; }

.pt-9 {
  padding-top: 9rem !important; }

.pt-10 {
  padding-top: 10rem !important; }

.pb-1 {
  padding-bottom: 1rem !important; }

.pb-2 {
  padding-bottom: 2rem !important; }

.pb-3 {
  padding-bottom: 3rem !important; }

.pb-4 {
  padding-bottom: 4rem !important; }

.pb-5 {
  padding-bottom: 5rem !important; }

.pb-6 {
  padding-bottom: 6rem !important; }

.pb-7 {
  padding-bottom: 7rem !important; }

.pb-8 {
  padding-bottom: 8rem !important; }

.pb-9 {
  padding-bottom: 9rem !important; }

.pb-10 {
  padding-bottom: 10rem !important; }

.heading {
  color: #303c46; }

.text {
  color: #303c46; }

.text__primary {
  color: #00b034; }

.text__secondary {
  color: #7f879e; }

.text__white {
  color: #fff; }

.text__light {
  opacity: 0.7; }

.text__underlined {
  display: inline-block;
  border-bottom: 1px solid currentColor; }

.uppercase {
  text-transform: uppercase; }

.capitalize {
  text-transform: capitalize; }

.fw-400 {
  font-weight: 400; }

.bold {
  font-weight: bold; }

h1.heading {
  font-size: 5.5rem;
  font-weight: bold;
  letter-spacing: -0.2px; }
  @media only screen and (max-width: 1550px) {
    h1.heading {
      font-size: 5rem;
      letter-spacing: 0; } }
  @media only screen and (max-width: 48em) {
    h1.heading {
      font-size: 4rem;
      letter-spacing: 0.5px; } }
  @media only screen and (max-width: 30em) {
    h1.heading {
      font-size: 3.6rem; } }

h2.heading {
  font-size: 5.5rem; }
  h2.heading.small {
    font-size: 4rem;
    line-height: 1.4; }
  @media only screen and (max-width: 62em) {
    h2.heading {
      font-size: 5rem; }
      h2.heading.small {
        font-size: 3.5rem; } }
  @media only screen and (max-width: 48em) {
    h2.heading {
      font-size: 4rem; }
      h2.heading.small {
        font-size: 3rem; } }
  @media only screen and (max-width: 30em) {
    h2.heading {
      font-size: 3.6rem; }
      h2.heading.small {
        font-size: 2.5rem; } }

h3.heading {
  font-size: 2.6rem; }
  h3.heading.big {
    font-size: 3.6rem; }
  @media only screen and (max-width: 35.9375em) {
    h3.heading.big {
      font-size: 3rem; } }

h4.heading {
  font-size: 2rem; }

p.p__text {
  font-size: 1.8rem; }
  p.p__text-big {
    font-size: 2.6rem; }
  p.p__text-mid {
    font-size: 2rem; }
  @media only screen and (max-width: 35.9375em) {
    p.p__text-big {
      font-size: 2.2rem; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  text-decoration: none;
  list-style: none; }
  * a:hover {
    text-decoration: none; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 57%; } }
  @media only screen and (max-width: 64em) {
    html {
      font-size: 50%; } }

body {
  font-family: "HelveticaNowDisplay", sans-serif;
  font-size: 1.6rem;
  color: #7f879e;
  line-height: 1.6;
  overflow-x: hidden; }
  @media only screen and (max-width: 62em) {
    body br {
      display: none !important; } }

.container {
  max-width: 1400px; }

::selection {
  background: #303c46;
  color: #fff; }

p,
ul {
  margin: 0; }

.header {
  position: relative;
  min-height: 100vh;
  padding-top: 3.5rem;
  padding-bottom: 5rem; }
  @media only screen and (max-width: 75em) {
    .header {
      background: #e8ffed; } }
  .header .container {
    max-width: 1631px; }
  .header .nav {
    margin-bottom: 10rem; }
    @media only screen and (max-width: 35.9375em) {
      .header .nav .logo {
        margin-right: 3rem; } }
    @media only screen and (max-width: 75em) {
      .header .nav .nav__menu {
        position: fixed;
        width: 50%;
        height: 100vh;
        right: 0;
        top: 0;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background: #ffcc00;
        padding-left: 50px;
        transform: translateX(100%);
        transition: 0.5s cubic-bezier(0.33333, 0, 0.66667, 0.33333);
        z-index: 8; }
        .header .nav .nav__menu-item {
          margin-bottom: 20px; }
        .header .nav .nav__menu-link {
          font-size: 2.2rem;
          color: #303c46; } }
    @media only screen and (max-width: 48em) {
      .header .nav .nav__menu {
        width: 80%; } }
    @media only screen and (max-width: 23.75em) {
      .header .nav .nav__menu {
        width: 100%; } }
    .header .nav.active .nav__menu {
      transform: translateX(0) !important; }
    .header .nav.active .hamburger--spring .hamburger-inner {
      transition-delay: 0.22s;
      background-color: transparent !important; }
    .header .nav.active .hamburger--spring .hamburger-inner::before {
      top: 0;
      transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
      transform: translate3d(0, 10px, 0) rotate(45deg); }
    .header .nav.active .hamburger--spring .hamburger-inner::after {
      top: 0;
      transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
      transform: translate3d(0, 10px, 0) rotate(-45deg); }
  .header .laptop__image {
    transform: scale(1.1);
    transform-origin: left top; }
    @media only screen and (max-width: 1800px) {
      .header .laptop__image {
        transform: scale(1);
        transform-origin: center center;
        margin: 0 auto; } }

img.header-bg {
  position: absolute;
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  max-height: 97rem;
  z-index: -1; }

.services {
  padding-top: 8rem;
  padding-bottom: 5rem; }

.cradit-facts {
  padding-top: 8rem;
  padding-bottom: 5rem;
  position: relative; }
  .cradit-facts .fact__list {
    padding-right: 8rem; }
    .cradit-facts .fact__list-item svg {
      fill: #00b034; }
    @media only screen and (max-width: 75em) {
      .cradit-facts .fact__list {
        padding-right: 0; } }
  .cradit-facts .cradit__fact-img {
    margin-top: 10rem;
    transform: scale(1.3);
    transform-origin: top left; }
    @media only screen and (max-width: 1800px) {
      .cradit-facts .cradit__fact-img {
        transform: scale(1);
        transform-origin: center center;
        margin: 0 auto; } }

.how-it-works {
  padding: 8rem 0;
  background: #FBFBFB; }
  .how-it-works .step__list-item {
    margin-bottom: .5rem; }
    .how-it-works .step__list-item svg {
      fill: #a300ff; }

.testimonial {
  padding: 8rem 0; }
  .testimonial .rating__wrapper {
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 35.9375em) {
      .testimonial .rating__wrapper {
        justify-content: center; } }
    .testimonial .rating__wrapper .rating:not(:last-child) {
      margin-right: 0.4rem; }
    .testimonial .rating__wrapper .rating svg {
      width: 2.4rem;
      height: 2.4rem;
      fill: #ffcc00; }
    .testimonial .rating__wrapper p.p__text {
      margin-left: 1.5rem; }

.pricing {
  padding: 10rem 0;
  background: #F9F9FB; }

.work-with-us {
  position: relative;
  padding: 8rem 0;
  margin-bottom: 4rem;
  background: url(../img/start-working-bg.png);
  background-repeat: no-repeat;
  background-size: cover; }
  .work-with-us .work-with-img {
    position: absolute;
    bottom: -8rem; }
    @media only screen and (max-width: 48em) {
      .work-with-us .work-with-img {
        position: relative;
        bottom: inherit;
        margin: 0 auto;
        margin-bottom: 4rem; } }

.section__faq {
  padding: 10rem 0;
  position: relative; }
  .section__faq .faq__container {
    max-width: 90rem;
    position: relative; }
  .section__faq .faq__tab {
    border: 1px solid #f3f3f3;
    padding: 1.4rem 2.5rem;
    margin: 0 1rem;
    font-size: 1.7rem; }
    .section__faq .faq__tab--active {
      background: linear-gradient(90deg, #00b034, #7cc424);
      color: #fff;
      border-color: transparent;
      box-shadow: 0 5px 20px rgba(124, 196, 36, 0.3); }
      .section__faq .faq__tab--active:hover {
        filter: hue-rotate(15deg);
        color: #fff; }
    @media only screen and (max-width: 35.9375em) {
      .section__faq .faq__tab {
        padding: 1rem 1.5rem;
        margin: 0 .5rem; } }
  .section__faq .faq {
    position: relative; }
  .section__faq .faq__tab-container {
    display: flex;
    justify-content: center; }
  .section__faq .faq__content {
    /* display: none; */
    opacity: 0;
    visibility: hidden;
    transform: translateX(100px);
    /* JUST PRESENTATIONAL */
    font-size: 1.7rem;
    padding-right: 5rem;
    transition: all 0.5s;
    width: 100%;
    position: absolute; }
  .section__faq .faq__content--active {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    position: relative;
    padding-right: 0; }

.connect {
  padding-top: 10rem;
  border-top: 1px solid #c7c7c9;
  border-bottom: 1px solid #c7c7c9; }
  .connect__container {
    max-width: 1631px; }
  .connect__list-item a {
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: #303c46; }
    .connect__list-item a svg {
      min-width: 2.5rem !important;
      min-height: 2.5rem !important;
      max-width: 2.5rem !important;
      max-height: 2.5rem !important; }
  @media only screen and (max-width: 48em) {
    .connect__list {
      text-align: center; }
      .connect__list-item {
        text-align: center; }
        .connect__list-item a {
          margin: 0 auto; } }
  .connect .phone__box {
    position: relative;
    min-height: 46rem;
    padding: 6rem; }
    .connect .phone__box-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1; }
    .connect .phone__box .social__box {
      padding: 4rem;
      border: 1px solid #e6e6e6;
      border-radius: 1.1rem;
      display: block;
      transition: all 0.3s; }
      .connect .phone__box .social__box p.p__text {
        display: flex;
        justify-content: center;
        align-items: center; }
        .connect .phone__box .social__box p.p__text svg {
          width: 2rem;
          height: 2rem;
          transition: all 0.3s; }
      .connect .phone__box .social__box:hover {
        background: #303c46; }
        .connect .phone__box .social__box:hover p.p__text {
          color: #fff; }
        .connect .phone__box .social__box:hover svg {
          transform: translateX(10px);
          fill: #fff; }
      @media only screen and (max-width: 64em) {
        .connect .phone__box .social__box {
          padding: 2rem; } }
    @media only screen and (max-width: 1500px) {
      .connect .phone__box {
        padding: 4rem; } }
  .connect .nav__container {
    max-width: 1631px;
    border-top: 1px solid #c7c7c9;
    margin-top: 4rem;
    padding: 3rem 1.5rem; }
    @media only screen and (max-width: 62em) {
      .connect .nav__container .logo {
        max-width: 10rem; } }
    @media only screen and (max-width: 48em) {
      .connect .nav__container .right {
        display: none; } }

.footer {
  padding: 4rem 0;
  background: #f9f9fb; }
  .footer__container {
    max-width: 1631px; }
  .footer .nav {
    display: flex;
    justify-content: flex-end; }

.btn {
  cursor: pointer;
  font-size: 1.6rem;
  border-radius: 0.7rem;
  border: 0; }
  .btn__text {
    background: none; }
    .btn__text-underline {
      text-decoration: underline; }
    @media only screen and (max-width: 75em) {
      .btn__text {
        color: #303c46; } }
  .btn__primary {
    padding: 1.8rem 4rem;
    background: linear-gradient(90deg, #00b034, #7cc424);
    color: #fff;
    font-size: 1.7rem; }
    .btn__primary:hover {
      filter: hue-rotate(15deg);
      color: #fff; }
  .btn__icon svg {
    width: 2rem;
    height: 1.3rem;
    margin-left: 2rem;
    transition: all .3s; }
  .btn__secondary {
    background: #ffcc00;
    color: #303c46;
    padding: 1.2rem 2.5rem; }
    .btn__secondary:hover {
      background: #303c46;
      color: #fff; }
  .btn.rounded {
    border-radius: 100px !important; }
  .btn__allReview {
    padding: 1.8rem 7rem; }
    .btn__allReview:hover svg {
      transform: translateX(10px); }
  .btn__fullWidth {
    padding: 1.2rem 5rem;
    box-shadow: 0 10px 30px rgba(124, 196, 36, 0.5); }

.form {
  background: #fff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
  width: 100%;
  border-radius: 10px;
  padding: 2.5rem 0; }
  .form__input {
    display: block;
    width: 100%;
    border: 1px solid #f3f3f3;
    margin-bottom: 2rem;
    padding: 1.7rem 2rem;
    font-size: 17px;
    font-family: inherit;
    border-radius: .7rem;
    transition: all .3s; }
    .form__input::placeholder {
      color: #D1D1D1; }
    .form__input:focus {
      box-shadow: 0 0 0 2px rgba(0, 176, 52, 0.5); }

.step__card {
  padding: 3.3rem 3.8rem;
  border-radius: 2.5rem;
  box-shadow: 0 0 20px rgba(127, 118, 249, 0.1);
  background: #fff;
  margin-bottom: 3rem; }
  .step__card-pill {
    display: inline-block;
    padding: 1.2rem 2.5rem;
    font-size: 1.8rem;
    font-weight: bold;
    border-radius: 100px; }
  .step__card-1 .pill {
    color: #0088ff;
    background: #e5f3ff; }
  .step__card-2 .pill {
    color: #a300ff;
    background: #f0e5ff; }
  .step__card-3 .pill {
    color: #00c140;
    background: #e5ffec; }
  .step__card-4 .pill {
    color: #ff9900;
    background: #fff5e5; }

.nav {
  transition: all 0.4s; }
  .nav .nav__container {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  @media only screen and (max-width: 35.9375em) {
    .nav .logo {
      max-width: 10rem; } }
  .nav.sticky {
    position: fixed;
    padding: 1.5rem 0;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }
    .nav.sticky .logo {
      max-width: 12rem; }
    .nav.sticky .btn__text.white {
      color: #303c46; }
    @media only screen and (max-width: 35.9375em) {
      .nav.sticky .logo {
        max-width: 8rem; } }
  .nav .left,
  .nav .right {
    display: flex;
    align-items: center; }
  .nav__menu {
    display: flex;
    align-items: center;
    margin-left: 5rem; }
    @media only screen and (max-width: 1350px) {
      .nav__menu {
        margin-left: 3rem; } }
    .nav__menu-item:not(:last-child) {
      margin-right: 3.5rem; }
    @media only screen and (max-width: 1350px) {
      .nav__menu-item:not(:last-child) {
        margin-right: 2.5rem; } }
    .nav__menu-link {
      font-size: 1.6rem;
      color: #303c46;
      transition: all 0.3s; }
      .nav__menu-link.active, .nav__menu-link:hover {
        color: #303c46;
        -webkit-text-stroke: 0.5px currentColor; }

.pricing__card {
  border: 1px solid #C9CCD4;
  border-radius: 2.5rem;
  padding: 4rem 3.5rem; }

.service__card {
  background: #fff;
  padding: 3.3rem 2.5rem;
  border-radius: 2.5rem;
  box-shadow: 0 10px 20px rgba(127, 118, 249, 0.1);
  min-height: 50rem;
  margin-bottom: 5rem; }
  @media only screen and (max-width: 62em) {
    .service__card {
      min-height: 40rem; } }
  @media only screen and (max-width: 62em) {
    .service__card {
      min-height: 35rem; } }

.testimonial__card {
  padding: 5rem;
  border-radius: 2.2rem;
  transition: all 0.5s;
  min-height: 51.7rem;
  margin-bottom: 4rem;
  transition: all 0.3s; }
  @media only screen and (max-width: 35.9375em) {
    .testimonial__card {
      padding: 3rem;
      min-height: 42rem; } }
  .testimonial__card-img {
    width: 7.8rem;
    height: 7.8rem;
    border-radius: 50%;
    overflow: hidden; }
    .testimonial__card-img img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .testimonial__card p.p__text {
    line-height: 1.4; }
  .testimonial__card:hover {
    box-shadow: 5px 20px 50px rgba(0, 176, 52, 0.2); }
    .testimonial__card:hover p.p__text {
      color: #fff; }
  .testimonial__card-1 {
    background: linear-gradient(90deg, transparent, transparent), url(../img/testimonial1.png);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; }
    .testimonial__card-1:hover {
      background: linear-gradient(90deg, #00b034, #7cc424), url(../img/testimonial1.png);
      background-blend-mode: multiply;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center; }
  .testimonial__card-2 {
    background: linear-gradient(90deg, transparent, transparent), url(../img/testimonial2.png);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; }
    .testimonial__card-2:hover {
      background: linear-gradient(90deg, #00b034, #7cc424), url(../img/testimonial2.png);
      background-blend-mode: multiply;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center; }
  .testimonial__card-3 {
    background: linear-gradient(90deg, transparent, transparent), url(../img/testimonial3.png);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; }
    .testimonial__card-3:hover {
      background: linear-gradient(90deg, #00b034, #7cc424), url(../img/testimonial3.png);
      background-blend-mode: multiply;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center; }
  .testimonial__card-4 {
    background: linear-gradient(90deg, transparent, transparent), url(../img/testimonial4.png);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; }
    .testimonial__card-4:hover {
      background: linear-gradient(90deg, #00b034, #7cc424), url(../img/testimonial4.png);
      background-blend-mode: multiply;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center; }

.hamburger {
  padding: 5px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  background-color: transparent;
  border: 0;
  overflow: visible;
  transform: scale(0.8);
  transform-origin: bottom;
  z-index: 9; }
  .hamburger:focus {
    outline: 0; }

.hamburger:hover {
  opacity: 0.7; }

.hamburger-box {
  width: 3rem;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 3rem;
  height: 3px;
  background-color: #303c46;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease; }

.hamburger-inner::before,
.hamburger-inner::after {
  content: '';
  display: block; }

.hamburger-inner::before {
  top: -10px; }

.hamburger-inner::after {
  bottom: -10px; }

.hamburger--spring .hamburger-inner {
  top: 2px;
  transition: background-color 0s 0.13s linear; }

.hamburger--spring .hamburger-inner::before {
  top: 10px;
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spring .hamburger-inner::after {
  top: 20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

ul.list li {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 2rem; }
  ul.list li svg {
    min-width: 18px;
    min-height: 16px;
    max-width: 18px;
    max-height: 16px;
    margin-top: 5px;
    margin-right: 20px;
    justify-self: flex-start; }

.accordion {
  width: 100%; }
  .accordion__item {
    margin-bottom: 2rem;
    border: 1px solid #eeeeee;
    border-radius: 1.6rem;
    background: #fff;
    padding: 3rem 3.5rem;
    position: relative;
    transition: all .5s; }
    .accordion__item-title svg {
      min-width: 3rem;
      min-height: 3rem;
      max-width: 3rem;
      max-height: 3rem;
      transition: all 0.3s; }
    .accordion__item.active .accordion__item-title svg {
      transform: rotate(45deg); }
    .accordion__item.active .accordion__item-desc {
      position: relative;
      transform: scaleY(1);
      opacity: 1;
      visibility: visible; }
  .accordion__item-title {
    position: relative;
    margin: 0;
    display: flex;
    width: 100%;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    font-size: 2.2rem;
    font-weight: bold;
    color: #303c46; }
  .accordion__item-desc {
    margin-top: 2rem;
    font-size: 2rem;
    transition: all .5s;
    position: absolute;
    transform: scaleY(0);
    opacity: 0;
    visibility: hidden;
    transform-origin: top center; }
