.accordion {
	width: 100%;

	&__item {
		margin-bottom: 2rem;
		border: 1px solid #eeeeee;
		border-radius: 1.6rem;
		background: #fff;
		padding: 3rem 3.5rem;
		position: relative;
      transition: all .5s;

		&-title {
			svg {
				min-width: 3rem;
				min-height: 3rem;
				max-width: 3rem;
				max-height: 3rem;
				transition: all 0.3s;
			}
		}

		&.active {
			.accordion__item-title {
				svg {
					transform: rotate(45deg);
				}
			}
			.accordion__item-desc {
				position: relative;
				transform: scaleY(1);
				opacity: 1;
				visibility: visible;
			}
		}
	}

	&__item-title {
		position: relative;
		margin: 0;
		display: flex;
		width: 100%;
		cursor: pointer;
		justify-content: space-between;
		align-items: center;
		font-size: 2.2rem;
		font-weight: bold;
		color: $color-heading;
	}

	&__item-desc {
		margin-top: 2rem;
		font-size: 2rem;
		transition: all .5s;
		position: absolute;
		transform: scaleY(0);
		opacity: 0;
		visibility: hidden;
      transform-origin: top center;
	}
}
