.btn {
	cursor: pointer;
	font-size: 1.6rem;
	border-radius: 0.7rem;
	border: 0;
	text-transform: capitalize;

	&__text {
		background: none;
		&:focus {
			box-shadow: none !important;
		}

		&-underline {
			text-decoration: underline;
		}
		@media only screen and(max-width: $laptop-land) {
			color: $color-heading;
		}
	}

	&__primary {
		padding: 1.8rem 4rem;
		background: linear-gradient(90deg, $color-primary, $color-primary-light);
		color: #fff;
		font-size: 1.7rem;
		&:hover {
			filter: hue-rotate(15deg);
			color: #fff;
		}
	}
	&__icon {
		svg {
			width: 2rem;
			height: 1.3rem;
			margin-left: 2rem;
			transition: all 0.3s;
		}
	}

	&__secondary {
		background: $color-secondary;
		color: $color-heading;
		padding: 1.2rem 2.5rem;
		&:hover {
			background: $color-heading;
			color: #fff;
		}

		&::after{
			display: none;
		}
	}

	&.rounded {
		border-radius: 100px !important;
	}

	&__allReview {
		padding: 1.8rem 7rem;

		&:hover {
			svg {
				transform: translateX(10px);
			}
		}
	}

	&__fullWidth {
		padding: 1.2rem 5rem;
		position: relative;

		&::after {
			content: '';
			position: absolute;
			width: 80%;
			height: 15px;
			bottom: -5px;
			left: 50%;
			transform: translateX(-50%);
			background: linear-gradient(90deg, $color-primary, $color-primary-light);
			filter: blur(15px);
			-webkit-filter: blur(15px);
			transition: all 0.3s linear;
			border-radius: 23px;
			// opacity: 1 !important;
			// z-index: -1;
		}

		&:hover {
			// filter: hue-rotate(0deg);

			&::after {
				opacity: 0;
			}
		}

		&.click__me{
			padding: 1.2rem 5rem;
		}
	}
}
