ul.list {
	li {
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
      margin-bottom: 2rem;

		svg {
			min-width: 18px;
			min-height: 16px;
			max-width: 18px;
			max-height: 16px;
			margin-top: 5px;
			margin-right: 20px;
			justify-self: flex-start;
		}
	}
}
